---
subject: Radon test results
message_count: 1
first: 2023-09-21
last: 2023-09-21
senders:
- landainspections.mark@gmail.com
type: email-thread
tags:
- email
- real-estate
---

# Radon test results

**1 message** on 2023-09-21

## 1. 2023-09-21 18:08 — landainspections.mark@gmail.com

Hello, attached are the radon test results.  The results are below EPA recommended corrective action levels.  No corrective action is necessary.  However, it is recommended to test for radon every two (2) to three (3) years.

For more information about radon levels and their impacts, please click the following web link:

www.nachi.org/radon1.htm

As additional information on the report, the device used has four on-board measurement sensors.  This is the equivalent of using four (4) charcoal test kits at the same time.  This, in combination with routine annual calibration, ensures accurate test results.

Thank you and let me know if you have any questions￼


Mark Adkins, CPI
L&A Home Inspections
Company Main Telephone Number: 231-373-7471
Direct Cell Number: 231-373-0935
Email: LandAinspections.mark@gmail.com

---
